@{    
    Layout = @"~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Danh sách Category";
}
<div class="row">
    <div class="col-md-8">
        <h3>Danh sach danh muc</h3>
        <table id="cateTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Slug</th>
                    <th style="width: 150px">Thao tác</th>
                </tr>
            </thead>
            <tbody>                                                      
                                                                     
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Thêm mới danh mục</h3>
        <div class="box">
            <div class="box-body">
                <div class="form-group">
                    <label> Ten danh muc </label>
                    <input type="text" name="name" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label> Slug </label>
                    <input type="text" name="slug" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn-addOrUpdate"> Them moi</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{   

    <script>
        let req = {
            pageSize: 10,
            pageNumber: 1
        };
        $('.btn-addOrUpdate').click(function(){
            let obj = {};
            obj.name = $('input[name="name"]').val();
            obj.slug = $('input[name="slug"]').val();

            $.ajax({
                url: "/admin/category/AddOrUpdate",
                type: "POST",
                datatype: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                beforeSend: function () {

                },
                success: function (res) {
                    if(res > 0){
                        getData(req);
                    }            
                }
             })
        });
        getData(req);
        //$(document).ready(function(){
        //    getData(req);
        //});

        function getData(obj){
            $.ajax({
                url: "/admin/category/GetData",
                type: "POST",
                datatype: "json",
                contentType: "application/json",
                data: JSON.stringify(obj),
                beforeSend: function(){

                },
                success: function (res) {
                    $('#cateTable tbody').html('');
                    res.data.forEach(function (item, index) {
                        let row = `<tr>
                                        <td>${index + 1}</td>
                                        <td>${item.name}</td>
                                        <td>${item.slug}</td>
                                        <td style="width: 150px">
                                            <a class="btn btn-primary" style="color: white">Sửa</a>
                                            <a class="btn btn-danger" style="color: white">Xóa</a>
                                        </td>
                                    </tr>`;

                        $('#cateTable tbody').append(row);
                    });
                }
            })
        }
    </script>
}